@model PetCenter.Web.Models.DTOGCP_Cliente
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript
{
    @Scripts.Render("~/bundles/ReservaBusqueda")
}
@using (Html.BeginForm("Busqueda", "Cliente", FormMethod.Post, new { id = "form1", @class = "form-horizontal" }))
{
    <fieldset>
        <legend><i class="fa fa-th-list"></i> Reservación de Hospedaje</legend>
        @Html.HiddenFor(model => model.CodigoCliente)
        <div class="panel panel-primary panel-shadow">
            <div class="panel-heading"><i class="fa fa-search"></i> Datos del Cliente</div>
            <div class="panel-body form-horizontal">
                <div class="form-group form-group-md">
                    <div>
                        @Html.LabelFor(model => model.NombreCliente, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.NombreCliente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.NombreCliente, "", new { @class = "ErrorSummary" })
                        </div>
                        <div class="col-md-2">
                            <button id="btnBuscar" class="btn btn-primary" autofocus>
                                <span class="glyphicon glyphicon-search"></span> Buscar Reservas del Cliente
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <div>
                        @Html.LabelFor(model => model.DireccionCliente, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.DireccionCliente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.DireccionCliente, "", new { @class = "ErrorSummary" })
                        </div>
                    </div>
                </div>
                <div>
                    <table id="jqGrid_lista_A"></table>
                    <div id="jqGrid_pager_A"></div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" id="btnCrear"><span class="glyphicon glyphicon-plus"></span> Nueva Reserva</button>
                <button class="btn btn-primary" id="btnEliminar"><span class="glyphicon glyphicon-remove"></span> Anular Reserva</button>
            </div>
        </div>
    </fieldset>
}