@model PetCenter.Web.Models.DTOGHA_Reserva
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript
{
    @Scripts.Render("~/bundles/HospedajeBusquedaReserva")
}
@using (Html.BeginForm("ConReserva", "Hospedaje", FormMethod.Post, new { id = "form1", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.CodigoReserva)
    @Html.HiddenFor(model => model.FechaInicio)
    @Html.HiddenFor(model => model.FechaFin)
    @Html.HiddenFor(model => model.FechaFin)
    @Html.HiddenFor(model => model.EstadoReserva)
    @Html.HiddenFor(model => model.NombreMascota)
    @Html.HiddenFor(model => model.CodigoCliente)
    @Html.HiddenFor(model => model.CodigoMascota)
    @Html.HiddenFor(model => model.CodigoLugar)
    <fieldset>
        <legend><i class="fa fa-th-list"></i> Buscar Reserva</legend>
        <div class="panel panel-primary panel-shadow">
            <div class="panel-heading"><i class="fa fa-search"></i> Buscar Reserva</div>
            <div class="panel-body form-horizontal">
                <div class="form-group form-group-md">
                    <div>
                        @Html.LabelFor(model => model.NombreCliente, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.NombreCliente, new { @class = "form-control",@autofocus="autofocus" })
                            @Html.ValidationMessageFor(model => model.NombreCliente, "", new { @class = "ErrorSummary" })
                        </div>
                        <div class="col-md-2">
                            <button id="btnBuscar" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <table id="jqGrid_lista_A"></table>
                    <div id="jqGrid_pager_A"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary panel-shadow">
            <div class="panel-heading"><i class="fa fa-table"></i> Datos de Reserva</div>
            <div class="panel-body form-horizontal">
                <div>
                    <table id="jqGrid_lista_B"></table>
                    <div id="jqGrid_pager_B"></div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" id="btnAceptar"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
                <button class="btn btn-default" id="btnCancelar"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
            </div>
        </div>
    </fieldset>
}