@model PetCenter.Web.Models.DTOGHA_Reserva
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS
{
    <style>
        #FechaHoy, #FechaInicio, #FechaFin {
            text-align:center
        }
    </style>
}
@section JavaScript
{
    @Scripts.Render("~/bundles/HospedajeConReserva")
}
@using (Html.BeginForm("Grabar", "Hospedaje", FormMethod.Post, new { id = "form1", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.CodigoReserva)
    @Html.HiddenFor(model => model.CodigoCliente)
    @Html.HiddenFor(model => model.CodigoMascota)
    @Html.HiddenFor(model => model.CodigoLugar)
    <fieldset>
        <legend><i class="fa fa-th-list"></i> Servicios de Hospedaje</legend>
        <div class="panel panel-primary panel-shadow">
            <div class="panel-heading"><i class="fa fa-search"></i> Datos de Reserva</div>
            <div class="panel-body form-horizontal">
                <div class="form-group form-group-md">
                    <div>
                        @Html.LabelFor(model => model.FechaHoy, new {@class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.FechaHoy,"{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FechaHoy, "", new { @class = "ErrorSummary" })
                        </div>
                        <div class="col-md-2">
                            <button id="btnBuscar" class="btn btn-primary" autofocus>
                                <span class="glyphicon glyphicon-search"></span> Buscar Reserva
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <div>
                        @Html.LabelFor(model => model.FechaInicio, new {@class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.FechaInicio,"{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "ErrorSummary" })
                        </div>
                    </div>
                    <div>
                        @Html.LabelFor(model => model.FechaFin, new {@class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.FechaFin,"{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "ErrorSummary" })
                        </div>
                    </div>
                    <div>
                        @Html.LabelFor(model => model.DescripcionEstado, new {@class = "col-md-1 control-label" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.DescripcionEstado,new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.DescripcionEstado, "", new { @class = "ErrorSummary" })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <div>
                        @Html.LabelFor(model => model.NombreMascota, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.NombreMascota, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.NombreMascota, "", new { @class = "ErrorSummary" })
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-md">
                    <div>
                        @Html.LabelFor(model => model.NombreCliente, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.NombreCliente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.NombreCliente, "", new { @class = "ErrorSummary" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button id="btnGenerar" class="btn btn-primary" autofocus>
                            <span class="glyphicon glyphicon-save"></span> Generar Hospedaje
                        </button>
                    </div>
                </div>
                <div>
                    <table id="jqGrid_lista_A"></table>
                    <div id="jqGrid_pager_A"></div>
                </div>
                <div class="ErrorSummary">
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" id="btnEliminar" style="display:none"><span class="glyphicon glyphicon-remove"></span> Anular Hospedaje</button>
            </div>
        </div>
    </fieldset>
}

