<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PetCenter</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Hospedaje y Alojamiento</a></li>
                    <li><a href="#">Vacuna</a></li>
                    <li><a href="#">Pauta</a></li>
                    <li><a href="#">Especie</a></li>
                    <li><a href="#">Cliente</a></li>
                    <li><a href="#">Mascota</a></li>
                    <li><a href="#">Atencion</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../default.aspx"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

                <p><a href="@Url.Content("~/Monitoreo/Index")">Monitoreo de Mascotas</a></p>
                <p><a href="@Url.Content("~/PlanAlimenticio/Index")">Plan alimenticio</a></p>
            </div>
            <div class="col-sm-10 text-left">
                <form id="form1" runat="server">
                    <div>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            @RenderBody()
                        </asp:ContentPlaceHolder>
                    </div>
                </form>
    </div>

</div>
</div>
<footer class="container-fluid text-center">
    <p>PetCenter 2017</p>
</footer>

</body>
</html>
