@model PetCenter.Web.Models.DTOGCP_Cliente
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript
{
    @Scripts.Render("~/bundles/MascotaBusqueda")
}
@Html.Hidden("Accion")
@Html.Hidden("Controlador")

@Html.HiddenFor(model => model.CodigoCliente)
@Html.HiddenFor(model => model.DireccionCliente)
<div class="panel panel-primary panel-shadow">
    <div class="panel-heading"><i class="fa fa-search"></i> Buscar Cliente</div>
    <div class="panel-body form-horizontal">
        <div class="form-group form-group-md">
            <div>
                @Html.LabelFor(model => model.NombreCliente, new { @class = "col-md-3 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.NombreCliente, new { @class = "form-control",@autofocus="autofocus" })
                    @Html.ValidationMessageFor(model => model.NombreCliente, "", new { @class = "ErrorSummary" })
                </div>
                <div class="col-md-2">
                    <button id="btnBuscar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                </div>
            </div>
        </div>
        <div>
            <table id="jqGrid_lista_A"></table>
            <div id="jqGrid_pager_A"></div>
        </div>
    </div>
</div>
<div class="panel panel-primary panel-shadow">
    <div class="panel-heading"><i class="fa fa-table"></i> Datos de Mascota</div>
    <div class="panel-body form-horizontal">
        <div>
            <table id="jqGrid_lista_B"></table>
            <div id="jqGrid_pager_B"></div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" id="btnAceptar"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
        <button class="btn btn-default" id="btnCancelar"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
    </div>
</div>